
* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

body {
    background-color: #ccc;
}

#header {
    background-color:  #1c2941;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header:hover {
    background-color:  #1c2638;
    align-items: center;
    transition: 1s;
    padding: 10px 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
}


.username{
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
    padding-right: 50px;
}

.username:hover{
    color: #757575;
    transition: 1s;
}


.logout-menu, .login-menu {
    color: #757575;
    cursor: pointer;
}

.logout-menu:hover {
    color: #ccc;
    transition: 0.5s;
    border: 1px solid #37171b;
    padding: 5px;
}

.login-menu:hover {
    color: white;
    transition: 1s;
}

.form-container {
    padding: 20px;
    width: 350px;
    background-color:white;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgb(23, 23, 23);
}

.form-container h1 {
    font-size: 20px; 
    text-align: center; 
    margin-bottom: 50px;
    color: #0c2044;
}

form, form input, textarea {
    width: 100%;
}

textarea {
    max-width: 260;
    resize: none;
}

form input, textarea {
    margin: 3px 0 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 7px;
    border-radius: 5px;
}

textarea {
    margin: 3px 0 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

    outline: none;
    padding: 7px;
    border-radius: 5px;
}

.helptext {
    display: none;
}

.actions {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions input {
    border: none;
    color: white;
    border-radius: 5px;
}

.actions .submit {
    background: #0c2044;
    padding: 10px;
    cursor: pointer;
}

.actions .submit:hover {
    background: #ccc;
    transition: 1s;
    color: #0c2044;
    cursor: pointer;
}

.actions .reset {
    background: #722F37;
    margin-right: 20px;
    cursor: pointer;
}

.actions .reset:hover {
    background: #ccc;
    color: #37171b;
    margin-right: 20px;
    cursor: pointer;
    transition: 1s;
}

.edit {
    background: #0c2044;
    cursor: pointer;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.delete {
    background: #722F37;
    margin-right: 20px;
    cursor: pointer;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}


p {
    font-size: 12px;
}

.error {
    color: #722F37;
    font-size: 14px;
    text-align: center;
}

.errorlist{
    color: #722F37;
    font-size: 14px;
    text-align: center;
    list-style: none;
}

.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}



.video-container video { 
    width: 600px;
    border-radius: 10px;
    padding: 20px;
    background-color: white;

    /* position: fixed; */
    
}
.nav-btn, .nav-btn-inactive {
    background: #0c2044;
    border: 1px solid #0c2044;
    padding: 10px 15px;
    margin: 0 100px;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 40px;
}

.nav-btn-inactive .fa {
    color: #ccc;

}

.nav-btn:hover {
    background: #ccc;
    transition: 1s;
    color: #0c2044;
}

.nav-btn-inactive{
    background: #ccc;
    border: none;
}


.video-text {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

}

.share-button {
    background-color: white;
    color: #0c2044;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #0c2044;
    outline: none;
    cursor: pointer;
    width: 100%;
    margin-left: auto;
    text-align: center;
}

.share-button:hover {
    color: #ccc;
    background-color: #0c2044;
    transition: 1s;

}

.video-text h3 {
    color: #0c2044;
    font-size: 24px;
    text-align: center;
}

.video-text p {
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
}

.reset-done, .no-videos, .verification {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: #0c2044a5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #ccc;
    padding-top: 100px;
}

.reset-done h2, .no-videos h2, .verification h2 {
    font-size: 50px;
}

.reset-done p, .no-videos p, .verification p {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.admin-main {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas: 'feed form-container';
    padding-left: 20px;
    padding-right: 20px;
    grid-gap: 100px;
}

.feed {
    grid-area: feed;
    width: 100%;
}

.upload-video {
    grid-area: upload-video;
}


/* Basic styles for the pop-up */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.popup-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.695);
    z-index: 1;
}

.table-item {
    width: 100%;
    border-collapse: collapse;
}

thead {
    text-align: left;

}

th{
    padding: 10px 0;
    color: #0c2044;
}

td {
    padding: 10px 0;
}

.table-item tr {
    border-bottom: 1px solid #ccc;
    
}


.table-item tr:hover{
    background: #f2f2f2;
}

.icon-bar {
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    border-bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 14px;
  }
  
.icon-bar a:hover {
    background-color: #60778f;
  }
  
.github {
    background: #000;
    color: white;
  }
  
.linkedin {
    background: #007bb5;
    color: white;
    border-top-left-radius: 5px;
  }
  
.youtube {
    background: #f04338;
    color: white;
    border-bottom-left-radius: 5px;
  }

  .account {
    text-align: center;
    font-size: 15px;
  }

.video-actions .delete:hover {
    color: #37171b;
    background-color: #ccc;
    transition: 0.5s;
 }

 .video-actions .edit {
    background-color: #0c2044;
    
 }

 .video-actions .edit:hover {
    background-color: #ccc;
    color: #0c2044;
    transition: 0.5s;
 }

 .form-check {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
 }
















