{% extends 'video/layout.html' %}
        <!-- Make a block space for other HTML files that extends this layout  -->
        {% block main %}

        <style>
            h1 {
                text-align: center;
                font-size: 100px;
                color: rgb(9, 28, 67)
            }

            h3, p  {
                text-align: center;
            }

            .error-page {
                margin-top: 100px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }


        </style>

        <div class="error-page">
            <h1>404</h1>
            <h3>Oops! This Page Cannot be found</h3>
            <p>Please head over to our <a href="{% url 'index' %}"> Home Page </a> and check more exiting contents!</p>
        </div>
        {% endblock %}
    </main>
    <!-- END OF MAIN CONTENT  -->

    <!-- Make a popup form to help share functionality -->
     