
* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

body {
    background-color: #ccc;
}

#header {
    background-color:  #0c2044;
    align-items: center;
    padding: 10px 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}


.username{
    color: white;
}

.username:hover{
    color: #757575;
    transition: 1s;
}

.logout-menu, .login-menu {
    color: #757575;
    cursor: pointer;
}

.logout-menu:hover {
    color: red;
    transition: 1s;
}

.login-menu:hover {
    color: white;
    transition: 1s;
}

.form-container {
    padding: 20px;
    width: 300px;
    background-color:white;
    margin: 50px auto;
    border-radius: 10px;
}

form, form input, textarea {
    width: 100%;
}

textarea {
    max-width: 260;
    resize: none;
    padding: 5px;
    border: 2px solid black;
}

form input {
    padding: 5px;
    margin: 3px 0 10px 0;
}

.helptext {
    display: none;
}

.actions {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions input {
    border: none;
    color: white;
    border-radius: 5px;
}

.actions .submit {
    background: #0c2044;
    cursor: pointer;
}

.actions .reset {
    background: darkred;
    margin-right: 20px;
    cursor: pointer;
}

.edit {
    background: #0c2044;
    cursor: pointer;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.delete {
    background: darkred;
    margin-right: 20px;
    cursor: pointer;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}


p {
    font-size: 12px;
}

.error {
    color: darkred;
    font-size: 14px;
    text-align: center;
}

.errorlist{
    color: darkred;
    font-size: 14px;
    text-align: center;
    list-style: none;
}

.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}



.video-container video {
    width: 700px;
    border-radius: 10px;
    border-color: none;

    /* position: fixed; */
    
}
.nav-btn, .nav-btn-inactive {
    width: 100px;
    background: #0c2044;
    padding: 10px 15px;
    margin: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
}

.nav-btn-inactive{
    background: #ccc;
}

.video-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

}

.share-button {
    color: white;
    background-color: #0c2044;
    padding: 10px;
    border-radius: 5px;
}

.video-text h3 {
    font-size: 24px;
}

.video-text p {
    font-size: 18px;
}

.reset-done, .no-videos, .verification {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: #0c2044a5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding-top: 100px;
}

.reset-done h2, .no-videos h2, .verification h2 {
    font-size: 50px;
}

.reset-done p, .no-videos p, .verification p {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.admin-main {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas: 'feed form-container';
    padding-left: 20px;
    padding-right: 20px;
    grid-gap: 100px;
}

.feed {
    grid-area: feed;
    width: 100%;
}

.upload-video {
    grid-area: upload-video;
}


/* Basic styles for the pop-up */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.popup-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.695);
    z-index: 1;
}

.table-item {
    width: 100%;
}

thead {
    text-align: left;

}

th{
    padding: 20px 0;
}

.log-actions {
    text-align: center;
}

button {
    float: right;
}
















