{% extends 'video/layout.html' %}

{% block title %} 
  Dashboard | Video Platform
{% endblock %}

{% block main %}

    <section class="admin-main">
        <div id="progress-container">
            <div id="progress"></div>
        </div>

    <div class="form-container feed">
        <h1> RECENTLY UPLOADED </h1>
        <table class="table-item">
            
            <thead>
                <th>DATE UPLOADED</th>
                <th>VIDEO TITLE</th>
                <th>ACTIONS</th>
                <hr>
            </thead>
            {% for log in logs %}
            <tbody>
                <tr>
                    <td>{{log.upload_date}}</td>
                    <td>{{ log.display_title }}</td>
                    <td colspan="2">
                        <div class="video-actions">
                            <a class="delete" href="{% url 'delete_video' log.pk %}" onclick="return confirm('Are you sure to delete\n{{log.title}}?')"> <i class="fa fa-trash"></i> Delete</a> &nbsp;
                            <a class="edit" href="{% url 'edit' log.pk %}"> <i class="fa fa-edit"></i> Edit</a>
                        </div>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        
        <!-- I can use table to display the logs -->
        <p></p>
        
        <p></p>
    </div>
    

    <div class="form-container Upload-video">
        <h1> Upload New Video </h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{video_form.as_p}}
            <div class="actions">
                <input type="reset" value="Clear" class="reset">
                <input type="submit" class="submit" value="Upload" onclick="uploadFile()">      
            </div>
        </form>
    </div>
</section>


<head>
    <meta charset="UTF-8">
    <title>Video Upload</title>
    <script>

        function getCSRFToken() {
                var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
                return csrfToken;
            }

        function uploadFile() {
            var formData = new FormData();
            var file = document.getElementById("id_video_file").files[0];
            formData.append("id_video_file", file);

            var xhr = new XMLHttpRequest();
            
            xhr.open("POST", "", true);
            xhr.setRequestHeader("X-CSRFToken", getCSRFToken());
            xhr.upload.onprogress = function(event) {
                if (event.lengthComputable) {
                    var percentComplete = (event.loaded / event.total) * 100;
                    var progressBar = document.getElementById("progress");
                    var progressContainer = document.getElementById("progress-container");

                    progressContainer.style.display = "flex";  // Show progress bar
                    progressContainer.style.zIndex = '5'
                    progressContainer.style.position = "fixed"
                    progressBar.style.width = percentComplete + "%";
                    progressBar.innerHTML = Math.round(percentComplete) + "%";
                }
            };

            xhr.onload = function() {
                document.getElementById("progress-container").style.display = "none"; // Hide progress bar after completion
            };

            xhr.send(formData);
        }
    </script>
    <style>
        #progress-container {
            width: 80%;
            background-color: #f3f3f3;
            margin: 20px auto;
            margin: 10px;
            display: none; /* Hide by default */
        }
        #progress {
            width: 0;
            height: 30px;
            background-color: #0c2044;
            box-sizing: border-box;
            text-align: center;
            line-height: 30px;
            color: white;
        }
    </style>
</head>
{% endblock %}



