{% extends 'video/layout.html' %}

{% block title %} 
  Dashboard | Video Platform
{% endblock %}

{% block main %}
    <section class="admin-main">
    
    <div class="form-container feed">
        <h1> RECENTLY UPLOADED </h1>
        <table class="table-item">
            
            <thead>
                <th>ID</th>
                <th>DATE UPLOADED</th>
                <th>VIDEO TITLE</th>
                <th>ACTIONS</th>
                <hr>
            </thead>
            {% for log in logs %}
            <tbody>
                <tr>
                    <td>{{ log.pk }}</td>
                    <td>{{log.upload_date}}</td>
                    <td>{{ log.title }}</td>
                    <td colspan="2">
                        <div>
                            <a href="{% url 'delete_video' log.pk %}" onclick="return confirm('Are you sure to delete\n{{log.title}}?')"> <i class="fa fa-trash"></i> Delete</a> &nbsp;
                            <a href=""> <i class="fa fa-edit"></i> Edit</a>
                        </div>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        
        <!-- I can use table to display the logs -->
        <p></p>
        
        <p></p>
    </div>
    

    <div class="form-container Upload-video">
        <h1> Video Upload </h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{video_form.as_p}}
            <div class="actions">
                <input type="reset" value="Clear" class="reset">
                <input type="submit" value="Upload" class="submit">   
              </div>
        </form>
    </div>

</section>
{% endblock %}



