{% extends 'video/layout.html' %}
{% load static %}

{% block title %} 
    Home | Video Platform 
{% endblock %}


{% block main %}
    {% if video %}
    <div class="video-container">
            {% if prev %}
                <a class="nav-btn" href="{% url 'index' id=prev.pk %}" title="Previous Video"><i class="fa fa-arrow-circle-left"></i></a>
            {% else %}
                <div class="nav-btn-inactive">
                    <i class="fa fa-arrow-circle-left"></i>
                </div>
            {% endif %}
        
        <video controls autoplay>
            <source src="{{ video.video_file.url }}" type="video/mp4">
        </video>
        
            {% if next %}
                <a class="nav-btn" href="{% url 'index' id=next.pk %}" title="Next Video"><i class="fa fa-arrow-circle-right"></i></a>
            {% else %}
                <div class="nav-btn-inactive">
                    <i class="fa fa-arrow-circle-right"></i>
                </div>
            {% endif %} 
        
    </div>
    <div class="video-text">  
    <div>
        <h3>{{ video.title }}</h3>
        <p>{{ video.description }}</p><br>
        <button id="share-button" class="share-button" title="Share this Video via Email"><i class="fa fa-share"></i> Share this Video</button>
    </div>
    {% endif %}
</div>
{% endblock %}


{% block popup %}

<div id="popup-overlay" class="popup-overlay"></div>
    <div id="share-popup" class="popup form-container">
        <h1>Share Video Link</h1>
        <form id="share-form">
            {% csrf_token %}            
            Recipient Email: <input type="email" name="recipient_email" required>        
            Add Optional Message:<textarea name="message" rows="7"></textarea>

            <input type="hidden" name="page_url" id="page_url" value="{{ request.build_absolute_uri }}">

            <button type="submit" class="share-button" data-url="{% url 'share_link' %}">Share Now</button>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            // Handle share form submission
            $('#share-form').on('submit', function(event) {
                event.preventDefault();
                $.ajax({
                    url: '{% url "share_link" %}',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function(response) {
                        alert(response.message);
                        if (response.success) {
                            $('#popup-overlay').hide();
                            $('#share-popup').hide();
                        }
                    }
                });
            });
        });      
    </script>

{% endblock %}