

#header {
background-color:  #1c2941;
align-items: center;
position: sticky;
top: 0;
padding: 10px 40px;
height: 70px;
align-items: center;
justify-content: space-between;
}

#header:hover {
background-color:  #1c2638;
align-items: center;
transition: 1s;
padding: 10px 40px;
height: 70px;
display: flex;
align-items: center;
justify-content: space-between;
}

.logo {
width: 150px;
}


.username {
display: none;
}



.logout-menu, .login-menu {
color: #757575;
cursor: pointer;
border: 1px solid #ccc;
padding: 5px;
}

.logout-menu:hover {
color: #ccc;
background-color: #37171b;
transition: 0.5s;
border: 1px solid #ccc;

}

.login-menu:hover {
color: white;
transition: 1s;
}




.video-container {
    display: grid;
    margin-top: 50px;
    /* grid-template-columns: 1fr; */
    grid-template-areas:
    'video video'
    'left right';
}



.video-container video {
    grid-area: video;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: white;

    /* position: fixed; */

}
.nav-btn, .nav-btn-inactive {
    background: #0c2044;
    border: 1px solid #0c2044;
    margin: 10px auto;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 40px;
}

.nav-btn-inactive .fa {
    color: #ccc;

}

.nav-btn:hover {
    background: #ccc;
    transition: 1s;
    color: #0c2044;
}

.nav-btn-inactive{
    background: #ccc;
    border: none;
}


.video-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

}


.video-text h3 {
    color: #0c2044;
    font-size: 24px;
    text-align: center;
}

.video-text p {
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.share-button {
    background-color: #0c2044;
    color: #ccc;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #0c2044;
    outline: none;
    cursor: pointer;
    width: 50%;
    margin-left: 120px;
    text-align: center;
}

.share-button:hover {
    color: #0c2044;
    background-color: #ccc;
    transition: 1s;

}

form .share-button {
    background-color: #440c35;
    color: #ccc;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #0c2044;
    outline: none;
    cursor: pointer;
    width: 50%;
    margin-left: 80px;
    text-align: center;
}

.admin-main {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'form-container'
    'feed';
    padding-left: 20px;
    padding-right: 20px;
    grid-gap: 50px;
}

.feed {
    grid-area: feed;
    width: 100%;
}

.upload-video {
    grid-area: upload-video;
}

.video-actions .delete:hover {
    color: #37171b;
    background-color: #ccc;
    transition: 0.5s;
    }

    .video-actions .edit {
    background-color: #0c2044;

    }

    .video-actions .edit:hover {
    background-color: #ccc;
    color: #0c2044;
    transition: 0.5s;
    }

    .table-item {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
}

.delete {
    background: #722F37;
    cursor: pointer;
    color: white;
    text-align: center;
    border: none;
    padding: 2px 5px;
    border-radius: 5px;
}

.edit {
    display: block;
    background: #0c2044;
    text-align: center;
    cursor: pointer;
    color: white;
    border: none;
    padding: 2px 5px;
    border-radius: 5px;
}

.reset-done, .no-videos, .verification {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: #0c2044a5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #ccc;
    padding-top: 50px;
}

.reset-done h2, .no-videos h2, .verification h2 {
    font-size: 20px;
    padding: 10px;
}

.reset-done p, .no-videos p, .verification p {
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}





