{% extends 'video/layout.html' %}
{% load static %}

{% block title %} 
  Reset Done | Video Platform
{% endblock %}

{% block main %}
    <div class="reset-done">
        <div>
          <img src="{% static 'video/images/success.png' %}" alt="Error" width="200px">
        </div>
        <h2>Reset link successfully sent</h2>
        <p>A password reset link has been sent to your email, if the email you provided is correct, <br>you should recieve the link to reset your password in no time</p>
    </div>
{% endblock %}