{% extends 'video/layout.html' %}

{% block title %} 
  Password Reset | Video Platform
{% endblock %}

{% block main %}
<div class="form-container">
    <h1>Password Reset</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <div class="actions">  
          <input type="submit" value="Send Verification Code" class="submit">   
        </div>
        
    </form>
  </div>
  <p class="account">Enter your email address used to signup on our site.</p>
  <p class="account">Not Sure to reset your password now? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}
